Repository michaelwybraniec/vibe-drawing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(ci 0.4): add GitHub Actions workflow for lint, typecheck, prettier; mark AWP step done
  .github/workflows/ci.yml
  agentic-sldc/AWP.md
Due: prettier --write

feat(scaffold 0.5): add base index.html, styles.css, src/main.ts; add ESLint flat config v9; fix browser globals and husky hook; mark AWP step done
  .husky/pre-commit
  agentic-sldc/AWP.md
  eslint.config.js
  index.html
  package.json
  src/main.ts
  styles.css
Due: eslint --fix, prettier --write

feat(mobile 0.6): add viewport meta and touch-action none; mark AWP step done
  agentic-sldc/AWP.md
  styles.css
Due: prettier --write

feat(capabilities 0.7): add pointer/vibrate/DPR detection module; mark AWP step done
  agentic-sldc/AWP.md
  src/capabilities.ts
Due: eslint --fix, prettier --write

feat(core 0.8): add feature flags and safe logger; mark AWP step done
  agentic-sldc/AWP.md
  src/flags.ts
  src/logger.ts
Due: eslint --fix, prettier --write

feat(canvas 1.1.2): responsive canvas with DPR scaling and resize; mark AWP step done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

feat(canvas 1.1.3): init 2D context and default drawing styles; mark AWP step done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

feat(canvas 1.1.4): add pointer handlers capturing x/y/t and basic stroke state; mark AWP step done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

feat(canvas 1.1.5): incremental stroke drawing during pointermove; fix TS assertions; mark AWP step done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

feat(canvas 1.1.6): quadratic Bezier smoothing between midpoints; mark AWP step done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

feat(canvas 1.2.2-1.2.4): compute speed, map speed→width with clamps, low-pass stabilize; mark AWP steps done
  agentic-sldc/AWP.md
  src/main.ts
Due: eslint --fix, prettier --write

docs(awp 1.2.1): mark acceptance for speed→width mapping met
  agentic-sldc/AWP.md
Due: prettier --write

feat(haptics 2.1,2.2): add speed→duration vibration with throttling and stop; guards and flags; wire into drawing; mark AWP steps done
  agentic-sldc/AWP.md
  index.html
  package.json
  src/haptics.ts
  src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(modes 3.1,3.2): add mode state, UI controls, recording capture; wire live haptics; mark AWP steps done
  agentic-sldc/AWP.md
  eslint.config.js
  index.html
  src/main.ts
  src/recording.ts
  src/state.ts
  styles.css
Due: eslint --fix, prettier --write

fix(haptics 2.2.3): add Test Vibrate button and unsupported hint to help diagnose device support
  index.html
  src/main.ts
Due: eslint --fix, prettier --write

feat(pwa 11.1-11.2): add manifest and service worker; register SW; link manifest; adjust lint for SW
  eslint.config.js
  index.html
  manifest.webmanifest
  src/main.ts
  sw.js
Due: eslint --fix, prettier --write

Fix GitHub Pages deployment permissions
  .github/workflows/deploy.yml
Due: none

Format code with Prettier
  .cursor/mcp.json
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .prettierrc
  .vscode/settings.json
  capacitor.config.ts
  eslint.config.js
  manifest.webmanifest
  project.md
  src/audioBuzz.ts
  src/capabilities.ts
  src/flags.ts
  src/haptics.ts
  src/logger.ts
  src/main.ts
  src/nativeHaptics.ts
  src/recording.ts
  src/state.ts
  sw.js
  vite.config.ts
Due: eslint --fix, prettier --write

Update to use official GitHub Pages deployment workflow
  .github/workflows/deploy.yml
Due: none

Add automatic GitHub Pages enablement to workflow
  .github/workflows/deploy.yml
Due: none

Simplify workflow - remove automatic Pages enablement
  .github/workflows/deploy.yml
Due: none

Switch back to peaceiris action with write permissions
  .github/workflows/deploy.yml
Due: none

deploy: 8f11084671c1fd632259f352969d6be3709c16a0
  .nojekyll
  assets/index-DFzT1i8F.js
  assets/index-DeNfmMgG.js
  assets/index-UFcM3uJx.css
  assets/logo-144-DoUTajmE.png
  assets/logo-192-CWUpS7GR.png
  assets/logo-48-BU1sDc45.png
  assets/manifest-Qk1oj1_M.webmanifest
  assets/web-BCsZK-Np.js
  index.html
Due: eslint --fix, prettier --write

Fix formatting in GitHub Pages workflow
  .github/workflows/deploy.yml
Due: none

Fix GitHub Pages base path for assets
  vite.config.ts
Due: eslint --fix

deploy: 70e7f54355ba492e3ec6b706329350a36d7bff9c
  assets/index-B3eQAcI3.js
  assets/index-CPrnvuIi.js
  assets/index-DFzT1i8F.js
  assets/index-DeNfmMgG.js
  assets/web-BCsZK-Np.js
  assets/web-BkGuz09Y.js
  index.html
Due: eslint --fix, prettier --write

Add fallback background color to CSS for GitHub Pages
  styles.css
Due: prettier --write

deploy: 9c0795b08c1b38b448a08e50804a6f3055fda948
  assets/index-B3eQAcI3.js
  assets/index-CPrnvuIi.js
  assets/index-CRREuzns.js
  assets/index-DunYEzOr.css
  assets/index-UFcM3uJx.css
  assets/index-lulyhrRc.js
  assets/web-BkGuz09Y.js
  assets/web-BvRGiO40.js
  index.html
Due: eslint --fix, prettier --write

Add style randomization and double-tap style switching
  src/main-new.ts
  src/main-old.ts
  src/styles/baseStyle.ts
  src/styles/chalkStyle.ts
  src/styles/classicStyle.ts
  src/styles/glowStyle.ts
  src/styles/lavaStyle.ts
  src/styles/neonStyle.ts
  src/styles/particleStyle.ts
  src/styles/styleManager.ts
  src/styles/watercolorStyle.ts
Due: eslint --fix

Redesign style 3 as digital glitch effect and reduce size sensitivity for styles 5 and 6
  index.html
  manifest.webmanifest
  src/main-new.ts
  src/main.ts
  src/styles/baseStyle.ts
  src/styles/chalkStyle.ts
  src/styles/glowStyle.ts
  src/styles/lavaStyle.ts
  src/styles/neonStyle.ts
  src/styles/particleStyle.ts
  src/styles/styleManager.ts
  src/styles/watercolorStyle.ts
  styles.css
Due: eslint --fix, prettier --write

deploy: 8120fdca687ea0d0916952b61f206e594a0869f4
  assets/index-CRREuzns.js
  assets/index-DYjNeYKN.js
  assets/index-DaFh2Ky0.css
  assets/index-DunYEzOr.css
  assets/index-QaE1E34H.js
  assets/index-lulyhrRc.js
  assets/manifest-CWOO1il0.webmanifest
  assets/web-BvRGiO40.js
  assets/web-lQ1D3yNP.js
  index.html
Due: eslint --fix, prettier --write

Fix TypeScript compilation errors - remove main-old.ts and fix particleStyle.ts
  src/main-new.ts
  src/main-old.ts
  src/styles/chalkStyle.ts
  src/styles/particleStyle.ts
Due: eslint --fix

deploy: 2839be3d5e008773d2ee105a7ed60aba0f6ee451
  assets/index-CPqkFyIR.js
  assets/index-DYjNeYKN.js
  assets/index-DbPJBHfi.js
  assets/index-QaE1E34H.js
  assets/web-ByqwPS07.js
  assets/web-lQ1D3yNP.js
  index.html
Due: eslint --fix, prettier --write

Fix TypeScript errors and sync iOS app with latest changes
  src/main-new.ts
  src/styles/particleStyle.ts
Due: eslint --fix

deploy: e7416e6a66124645877d511f704d2eb42026c73e
  assets/index-CINTajzL.js
  assets/index-CPqkFyIR.js
  assets/index-DbPJBHfi.js
  assets/index-cDq8WkjY.js
  assets/web-2jmakb8F.js
  assets/web-ByqwPS07.js
  index.html
Due: eslint --fix, prettier --write

Fix iOS app paths - use conditional base path for Capacitor vs GitHub Pages
  vite.config.ts
Due: eslint --fix

Update iOS build scripts to use CAPACITOR=true for correct asset paths
  package.json
Due: prettier --write

Fix TypeScript error in particleStyle.ts - add missing index parameter to forEach
  src/styles/particleStyle.ts
Due: eslint --fix

deploy: 167f13c7e6189e6dd0a8d7f63cfb224a1ee6db5a
  assets/index-CF6hwW4G.js
  assets/index-CINTajzL.js
  assets/index-DrzjRwBW.js
  assets/index-cDq8WkjY.js
  assets/web-2jmakb8F.js
  assets/web-BKbOTJ4i.js
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,html}
