Repository michaelwybraniec/vibe-drawing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix ESLint errors - prefix unused variables with underscore in style files
  src/styles/glowStyle.ts
  src/styles/lavaStyle.ts
Due: eslint --fix

deploy: a1885d5a179aa224a84c40176eb1192a9f5af505
  assets/index-B0NdmeUR.js
  assets/index-CF6hwW4G.js
  assets/index-DTd8GFVw.js
  assets/index-DrzjRwBW.js
  assets/web-BKbOTJ4i.js
  assets/web-DzSh99r0.js
  index.html
Due: eslint --fix, prettier --write

Fix remaining ESLint errors in particleStyle.ts and lavaStyle.ts
  src/styles/lavaStyle.ts
  src/styles/particleStyle.ts
Due: eslint --fix

deploy: 65fbc8bb2a8316ad68770e2c93fe43b823b0c86a
  assets/index-B-i_DyVq.js
  assets/index-B0NdmeUR.js
  assets/index-CQtkDPH1.js
  assets/index-DTd8GFVw.js
  assets/web-BPLUGqbj.js
  assets/web-DzSh99r0.js
  index.html
Due: eslint --fix, prettier --write

deploy: b8f69bd75be7c3bf3a1feedf001531fb849a439a
  assets/index-B-i_DyVq.js
  assets/index-B2YvK0Go.js
  assets/index-BLT0OYWZ.css
  assets/index-CQtkDPH1.js
  assets/index-D20yuVN0.js
  assets/index-DaFh2Ky0.css
  assets/web-BPLUGqbj.js
  assets/web-BSjW4tB9.js
  index.html
Due: eslint --fix, prettier --write

Fix ESLint errors in particleStyle.ts - Prefix unused variables with underscore
  src/styles/particleStyle.ts
Due: eslint --fix

deploy: a8366438ed056d3c53dcf4d78415db7e4a06897c
  assets/index-B2YvK0Go.js
  assets/index-BYOpoE8-.js
  assets/index-D20yuVN0.js
  assets/index-DTP5E3AW.js
  assets/web-BSjW4tB9.js
  assets/web-DVkZItJq.js
  index.html
Due: eslint --fix, prettier --write

Fix eraser functionality: respect size settings and disable sparkle effects
  src/main.ts
Due: eslint --fix

deploy: 0c51191c0856d40142edc5ab8e1511fa8c0f5ff6
  assets/index-BFnUBpMy.js
  assets/index-BYOpoE8-.js
  assets/index-Bl4g-nWS.js
  assets/index-DTP5E3AW.js
  assets/web-CulfSO_v.js
  assets/web-DVkZItJq.js
  index.html
Due: eslint --fix, prettier --write

deploy: 808bcf027c3f7700405a15c8e2f94d1ab32cf9d2
  assets/index-BFnUBpMy.js
  assets/index-BLT0OYWZ.css
  assets/index-Bl4g-nWS.js
  assets/index-Bv1f0IQS.js
  assets/index-Ca3xj1ff.css
  assets/index-DAkoMJYT.js
  assets/web-C5iA1YVe.js
  assets/web-CulfSO_v.js
  index.html
Due: eslint --fix, prettier --write

Fix all errors and recover missing style files
  eslint.config.js
  index.html
  src/components/numbers-size-selector.css
  src/components/numbers-size-selector.ts
  src/components/pizza-size-selector.css
  src/components/pizza-size-selector.ts
  src/main-new.ts
  src/main-separated.ts
  src/main.ts
  src/pizza.html
  src/styles/3d-sphere.ts
  src/styles/baseStyle.ts
  src/styles/classic-rainbow.ts
  src/styles/classic.ts
  src/styles/fire-lava.ts
  src/styles/glitch-wave.ts
  src/styles/glowStyle.ts
  src/styles/holographic-prism.ts
  src/styles/lavaStyle.ts
  src/styles/particleStyle.ts
  src/styles/plasma-energy.ts
  src/styles/styleManager.ts
  src/styles/water-drops.ts
  src/styles/watercolorStyle.ts
  styles.css
Due: eslint --fix, prettier --write

Add color dimensions to TriangleStyle - each side has different color
  src/haptics.ts
  src/main-new.ts
  src/main-separated.ts
  src/main.ts
  src/pizza.html
  src/styles/3d-sphere.ts
  src/styles/baseStyle.ts
  src/styles/chalkStyle.ts
  src/styles/classic-rainbow.ts
  src/styles/classic.ts
  src/styles/fire-lava.ts
  src/styles/glitch-wave.ts
  src/styles/holographic-prism.ts
  src/styles/lavaStyle.ts
  src/styles/neonStyle.ts
  src/styles/particleStyle.ts
  src/styles/plasma-energy.ts
  src/styles/styleManager.ts
  src/styles/triangle-draw.ts
  src/styles/water-drops.ts
  src/styles/watercolorStyle.ts
Due: eslint --fix, prettier --write

Update 3D sphere style: replace 3D effects with flat double circles
  src/styles/3d-sphere.ts
Due: eslint --fix

Fix triangle style scaling and size consistency
  src/styles/triangle-draw.ts
Due: eslint --fix

Update style effects: modify glow, plasma, triangle, water styles and add clean-plasma effect
  src/styles/clean-plasma.ts
  src/styles/glowStyle.ts
  src/styles/neonStyle.ts
  src/styles/styleManager.ts
  src/styles/triangle-draw.ts
  src/styles/water-drops.ts
Due: eslint --fix

Improve UI: single-click pizza selector, better mobile experience, refined info buttons
  index.html
  src/components/numbers-size-selector.css
  src/components/pizza-size-selector.css
  src/components/pizza-size-selector.ts
  src/main.ts
  src/styles/styleManager.ts
  styles.css
Due: eslint --fix, prettier --write

deploy: 6061fdc2843bdcd2611b9f706ae1606618182fca
  assets/index-B-xTBg5x.js
  assets/index-Bv1f0IQS.js
  assets/index-CWwxHfWN.css
  assets/index-Ca3xj1ff.css
  assets/index-DAkoMJYT.js
  assets/index-DQorFzPJ.js
  assets/web-C5iA1YVe.js
  assets/web-CMOFWK_w.js
  index.html
Due: eslint --fix, prettier --write

Add fullscreen functionality and improve mobile layout
  index.html
  src/main.ts
  styles.css
Due: eslint --fix, prettier --write

deploy: b19d3f9633fc176a37e9762e0dfaabe77e53b094
  assets/index-B-xTBg5x.js
  assets/index-CUW7oCDH.css
  assets/index-CWwxHfWN.css
  assets/index-DQorFzPJ.js
  assets/index-DuKiLDlh.js
  assets/index-NcRANZXC.js
  assets/web-CBTa-YFN.js
  assets/web-CMOFWK_w.js
  index.html
Due: eslint --fix, prettier --write

Optimize mobile modals for perfect one-screen fit
  src/components/pizza-size-selector.css
  src/main.ts
  styles.css
Due: eslint --fix, prettier --write

deploy: 70c575c0efd2f84f5d797ad3d7836180d80efb90
  assets/index-9P9iVeK8.js
  assets/index-BvtDeMOf.js
  assets/index-CUW7oCDH.css
  assets/index-DuKiLDlh.js
  assets/index-J7ywEvZh.css
  assets/index-NcRANZXC.js
  assets/web-CBTa-YFN.js
  assets/web-CGSRjoez.js
  index.html
Due: eslint --fix, prettier --write

Fix mobile browser compatibility for full screen modals
  styles.css
Due: prettier --write

deploy: df7f188950abd34573848647c142cf58acd312a1
  assets/index-BD5BDeSJ.css
  assets/index-BvtDeMOf.js
  assets/index-J7ywEvZh.css
  assets/index-LjRHbR9t.js
  assets/index-THazWFlG.js
  assets/web-BPjXaV2A.js
  assets/web-CGSRjoez.js
  index.html
Due: eslint --fix, prettier --write

Fix fullscreen mode for Brave browser
  fullscreen-test.html
  src/main.ts
Due: eslint --fix, prettier --write

deploy: c970b035f63b3e5d9aae499c039760c838f2ed1d
  assets/index-B4GzjsEs.js
  assets/index-Cgc13OgN.js
  assets/index-LjRHbR9t.js
  assets/index-THazWFlG.js
  assets/web-BPjXaV2A.js
  assets/web-CnJ7GrJz.js
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css,html}
